.slide-appear-enter {
    opacity: 0;
    transform: translateY(-10%);
  }
  
  .slide-appear-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 500ms ease, opacity 500ms ease;
  }
  
  .slide-appear-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .slide-appear-exit-active {
    opacity: 0;
    transform: translateY(10%);
    transition: transform 500ms ease, opacity 500ms ease;
  }