body {
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(15, 1, 34) 0%,
    rgb(15, 0, 22) 21%,
    rgb(18, 1, 22) 100%,
    rgb(240, 112, 133) 75%
  );
}

* {
  margin: 0;
  padding: 0;
}

.txt {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color:#d91656;
  font-size: 4rem;
  text-align: center;
  padding: 0;
}

.githubtxt {
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
  text-align: center;
  padding-top: 4rem;
}

.ttxt {
  font-size: inherit;
  display: inline-block;
  font-size: 12rem;
}

.tagline{
  font-family: "Red Rose", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.morebtn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  height: 3.5rem;
  border:none;
  border-radius: 20px;
  width:15.5rem;
  font-family:"Red Rose" , serif;
  color:white;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #d91656;
  transition: 0.3s;
}

.morebtn:hover {
  height: 4rem;
  width: 16rem;
  font-size: 1.2rem;
}


@media (max-width: 576px) {
  .txt {
    font-size: 1.5rem;
  }

  .githubtxt {
    font-size: 1rem;
  }

  .tagline{
    font-size: 1rem;
  }

  .ttxt {
    font-size: 5rem;
  }

  .morebtn{
    height: 2rem;
    width: 12rem;
    font-size: 0.8rem;
  }

  .morebtn:hover{
    height: 3rem;
    width: 13rem;
    font-size: 0.8rem;
  }
}
